@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <h1 class="text-center">Welcome to my text editor</h1>
    <p class="text-center">Click the button below to enter the editor.</p>
    <div class="d-flex justify-content-between">
        <a class="btn btn-outline-success btn-lg" asp-controller="Texteditor" asp-action="Index">Enter Editor</a> <br />
        <a class="btn btn-outline-primary btn-lg ml-4">Open</a>
    </div>
</div>
