@model TextEditor
@{
    ViewData["Title"] = "Index";
}
<script src="https://cdn.tiny.cloud/1/your-api-key/tinymce/5/tinymce.min.js"></script>
<!-- TinyMCE init script -->
<script>
    tinymce.init({
        selector: '#content'
    });
</script>
<h3 class="text-success mb-4">Create File</h3>
<form method="post">
    <div class="mb-3">
        <label asp-for="Name"><b>File name</b></label>
        <input asp-for="Name" class="form-control" type="text" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <label asp-for="Content"><b>Content</b></label>
    <textarea asp-for="Content" class="form-control" id="content"></textarea>
    <br />
    <button type="submit" class="btn btn-success" style="width:150px;">
        Save
    </button>
</form>