@model List<TextEditor>
@{
    ViewData["Title"] = "List";
}

<div class="container mt-5">
    <h1 class="text-success text-center mb-4">List of Files</h1>
    <div class="container justify-content-center">
        <div class="row">
            <div class="col-md-8 mx-auto">
        <div class="card">
            <div class="card-body">
            @foreach (var obj in Model)
            {
                <div class="mb-3 d-flex justify-content-between">

                    <div class="mr-auto">
                        <a type="button" class="btn btn-outline-primary" asp-action="Edit" asp-route-itemid="@obj.Id">@obj.Name</a>
                    </div>
                    <div class="ml-auto">
                        <a type="button" class="btn btn-danger btn-sm" asp-action="Delete" asp-route-itemid="@obj.Id">X</a>
                    </div>
                </div>
                <hr />
            }
            </div>
        </div>
        </div></div></div>
        
</div>
